<div class="container">
    <div class="landing-page">
        <div class="home-image-container"></div>
        <div class="home-container">
            <div class="home-title-container">
                <div class="home-title">WelCome To <span class="home-title-sec">Sri Lanka</span></div>
                <!-- <div class="home-title"></div> -->
            </div>
            <div class="home-sub-title">Your Trusted Travel Partner</div>
        </div>
    </div>
    <div class="destination-page">
        <div class="destination-heading-container">
            <div class="destination-image-container"></div>
            <div class="destination-title-container">
                <div class="destination-title">Choose The Perfect Destination In</div>
                <div class="destination-title">Sri Lanka</div>
            </div>
        </div>
        <div class="destination-detail-container">
            <div class="destination-detail-header">The Best Travel Points</div>
            <div class="destination-detail-items-container">
                <div class="destination-item">
                    <a>
                        <img class="destination-item-img" src="../../assets/travelImages/destination-item-one.jpg">
                        <div class="destination-item-name-container">
                            <div class="destination-item-name">Ella</div>
                        </div>
                    </a>
                </div>
                <div class="destination-item">
                    <a>
                        <img class="destination-item-img" src="../../assets/travelImages/destination-item-two.jpg">
                        <div class="destination-item-name-container">
                            <div class="destination-item-name">Yala</div>
                        </div>
                    </a>
                </div>
                <div class="destination-item">
                    <a>
                        <img class="destination-item-img" src="../../assets/travelImages/destination-item-three.jpg">
                        <div class="destination-item-name-container">
                            <div class="destination-item-name">Habarana</div>
                        </div>
                    </a>
                </div>
                <div class="destination-item">
                    <a>
                        <img class="destination-item-img" src="../../assets/travelImages/destination-item-four.jpg">
                        <div class="destination-item-name-container">
                            <div class="destination-item-name">Mirissa</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="testimonial">
        
    </div>
</div>